<!DOCTYPE html>
<html lang="en">
  <head>
    <title>A Board Game</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, user-scalable=no">
    <!-- <link href='http://fonts.googleapis.com/css?family=Dosis:200,500|Ubuntu:400,700|Roboto:200,500|Open+Sans:400,700' rel='stylesheet' type='text/css'> -->

    <!--link rel="Shortcut Icon" href="/public/images/favicon.ico"-->
  </head>
  <body>
    <div id="body-template">
      <div id="layout"></div>
    </div>
    <script type="text/javascript" src="/react/vendors.js"></script>
    <script type="text/javascript" src="/react/app.js"></script>
  </body>
</html>
